@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  color: #333;
  background-color: #fff;
}

h1, h2, h3 {
  font-family: sans-serif;
}

/* Light and Dark Themes for body */
body[data-theme="light"] {
  background-color: #fff;
  color: #333;
}

body[data-theme="dark"] {
  background-color: #121212;
  color: #f1f1f1;
}

@keyframes light-color-change {
  0% { background-color: #FFD700; }
  14% { background-color: #FFB6C1; }
  28% { background-color: #87CEFA; }
  42% { background-color: #98FB98; }
  56% { background-color: #FFFACD; }
  70% { background-color: #FFDEAD; }
  84% { background-color: #E6E6FA; }
  100% { background-color: #FFD700; }
}

@keyframes dark-color-change {
  0% { background-color: #2F4F4F; }
  14% { background-color: #4B0082; }
  28% { background-color: #483D8B; }
  42% { background-color: #2E8B57; }
  56% { background-color: #556B2F; }
  70% { background-color: #8B4513; }
  84% { background-color: #5F9EA0; }
  100% { background-color: #2F4F4F; }
}

.animate-light-color-change {
  animation: light-color-change 14s infinite;
}

.animate-dark-color-change {
  animation: dark-color-change 14s infinite;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Orbitron:wght@400..900&display=swap');

/* Apply fonts to specific classes */
.font-inconsolata {
  font-family: 'Inconsolata', monospace;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}
header {
  position: fixed;
  width: 100%;
  z-index: 50; /* Ensure it stays on top */
  transition: background-color 0.5s, backdrop-filter 0.5s;
}

header[data-theme="light"] {
  background-color: rgba(255, 255, 255, 0.5);
}

header[data-theme="dark"] {
  background-color: rgba(0, 0, 0, 0.5);
}
body {
  background-color: transparent;
}
.backdrop-blur-md {
  background-color: rgba(255, 255, 255, 0.3); /* Example of slight transparency */
}
.header {
  font-family: 'B612 Mono', monospace;
}

.nav-links {
  font-family: 'Inconsolata', monospace;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
/* Initial State for Sections */
.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Scroll into View (Section Appears) */
.section.in-view {
  opacity: 1;
  transform: translateY(0);
}
