@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.font-old-standard-tt {
    font-family: var(--font-old-standard-tt), serif;
  }
  .navbar-background {
    background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
    padding: 1rem 0;
  }
  
  .menu-item {
    position: relative;
    padding: 1rem 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.125rem;
  }
  
  .menu-item:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: width 0.3s ease;
  }
  
  .menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease;
  }

.font-inconsolata {
    font-family: 'Inconsolata', monospace;
  }
  
  .section {
    position: relative;
    z-index: 1;
    margin-top: -6rem; /* This will pull the section up, creating the overlap */
  }
  


  
  .contributors-section {
    z-index: 8;
  }
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.3rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.87); /* Adjust as needed */
    z-index: 100;
}

.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.87); /* Adjust as needed */
    box-shadow: 0 1rem rgba(0, 0, 0, 0);
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    position: relative;
}

.navbar li a {
    display: block;
    padding: 1rem;
    color: #fff;
}

.login {
    display: flex;
    align-items: center;
    color: #fff;
}

.login ul {
    display: flex;
}

.login ul li {
    margin-left: 20px;
}
.sub-menu-item {
    display: block; /* Make items block-level for easier clicking */
    padding: 5px 20px; /* Padding for sub-menu items */
    color: #5a5a5a; /* Text color for sub-menu items */
    text-decoration: none; /* Remove underline */
    font-size: 0.875rem; /* Reduce font size (adjust as needed) */

  }
  
  .sub-menu-item:hover {
    background-color: #666; /* Change background on hover */
    color: white; /* Change text color on hover */
  }
  .logo {
    font-size: 1.5rem; /* Adjust size as needed */
 /* Optional: make it bold */
    color: white; /* Change text color to white */
  }
 /* Debugging styles */
.Canvas {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  }
  
.hero-section, .bouncy-cards-features {
    background-color: transparent !important; /* Ensure transparency */
    position: relative;
    z-index: 10; /* Make sure it's layered correctly */
}
.contributors-section,
.clip-path-links,
.footer {
  background-color: transparent;
}
html {
    scroll-behavior: smooth;
  }
  